.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.2em;
    margin-bottom: 2em;
    background-color: #333;
    color: #fff;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h1{
    margin-left: .5em;
}

.link{
    display: flex;
    list-style: none;
}
.link li{
    margin-right: 1.3em;
}

.link_items {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    transition: .4s;
    border-bottom: 2px solid transparent;
}
.link_items:hover{
    border-color:#fff;
}